@import "./scss/Home.scss";
@import "./scss/About.scss";
@import "./scss/ContactUs.scss";
@import "./scss/Header.scss";
@import "./scss/Footer.scss";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}