header {
    background: #333;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}
.logo img {
    height: 100px;
    width: 150px;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}