.home {
    .hero-content {
        background: url('../assests/images/heroImage.jpeg') no-repeat center center/cover;
        color: white;
        text-align: center;
        padding: 100px 20px;
        height: 300px;
    }
}

.btn {
    background: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.about,
.products {
    padding: 50px 20px;
    text-align: center;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product img {
    max-width: 100%;
    border-radius: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}